@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "loader";
// loader sccs'i import ettik. loader scss dosyasının ismini yazarken başına _loader şeklinde yazmayı unutma

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #212121;
  color: #fff;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 20px;

  h2 {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .brand-icon {
    font-size: 42px;
  }

  nav {
    display: flex;
    gap: 20px;

    a {
      // bu a, Navlink yani
      text-decoration: none;
      color: white;
      font-size: 20px;
    }

    .active {
      text-shadow: 0 0 20px rgb(184, 217, 247);
    }
  }
}

.list-page {
  min-height: 100vh;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin-top: 100px;

  p {
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    span {
      color: rgb(223, 32, 70);
      font-size: 22px;
    }
  }
}

.job-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 50px;
  padding: 20px;
}

//card'lar
.card {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 6px;
  padding: 20px;

  .head {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 40px;
      margin-bottom: 20px;

      .letter {
        background: purple;
        width: 60px;
        height: 60px;
        display: grid;
        place-items: center;
        text-transform: uppercase;
        border-radius: 6px;
        font-size: 30px;
        text-shadow: 0 0 20px aliceblue;
      }

      .info {
        font-size: 20px;
      }

      .info-position{
        font-weight: bold;
        color: aliceblue;
      }
    }
  }

  .body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px; /* satırlar arası boşluk */

    .field{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .status{
        display: flex;

        p{
            padding: 6px;
            border-radius: 6px;
        }
    }
  }
}


// ekleme sayfası
.add-page{
  min-height: 80vh;
  display: grid;
  place-items: center;
}

.add-sec{
  width: 70vw;
  max-width: 700px;
  box-shadow: 0 0 50px 0 aliceblue;
  padding: 26px;

  form{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    div{
      display: grid;
    }

    div input, div select{
      padding: 10px 14px;
      margin-top: 5px;
      border-radius: 4px;
      font-family: "poppins";
    }

    div:last-child{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// üsttekinden miras aldık, bazı özelliklerini değiştireceğiz
.filter-sec{
  @extend .add-sec;
  margin: 30px auto 80px;
}